<div>
    <table border="1" width="800" height="150">
        <tr>
            <td>EmpID:</td>
            <td>EmpName:</td>
            <td>EmpSalary:</td>
            <td>EmpDesignation:</td>
        </tr>
        <tr>
            <td>10101</td>
            <td>{{name}}</td>
            <td>$50000</td>
            <td>Software Engineer</td>
        </tr>
        <!-- <tr>
            <td>10102</td>
            <td>John Doe</td>
            <td>$50000</td>
            <td>Software Engineer</td>
        </tr>
        <tr>
            <td>10103</td>
            <td>June Dove</td>
            <td>$50000</td>
            <td>Software Engineer</td>
        </tr>
        <tr>
            <td>10104</td>
            <td>Andrew Parker</td>
            <td>$50000</td>
            <td>Software Engineer</td>
        </tr>
        <tr>
            <td>10105</td>
            <td>Ian Kelly</td>
            <td>$50000</td>
            <td>Software Engineer</td>
        </tr> -->
    </table>
</div>